@using Open.Facade.Project
@model CheckViewModel

@{
    ViewBag.Title = "Delete";
    ViewBag.SubTitle = $"{Model.PaymentType}";
    ViewBag.Button = "Delete";
    Layout = "_DeletePartial";
}

<body>
@Html.Partial("_ViewCheck", Model);
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}




