@using Open.Facade.Project
@model Open.Facade.Project.CashViewModel

@{
    ViewBag.Title = "Delete";
    ViewBag.SubTitle = $"{Model.PaymentType}";
    ViewBag.Button = "Delete";
    Layout = "_DeletePartial";
}

<body>
@Html.Partial("_ViewCash", Model);
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}