@using Open.Facade.Project
@model CheckViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = $"{Model.PaymentType}";
    Layout = "_DetailsPartial";
}

<body>
    @Html.Partial("_ViewCheck", Model);
</body>

@section Actions
    {
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    @Html.ActionLink("Back to List", "Index")
}
