@using Open.Facade.Project
@model CashViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = $"{Model.PaymentType}";
    Layout = "_DetailsPartial";
}

<body>
@Html.Partial("_ViewCash", Model);
</body>

@section Actions
{
    @Html.ActionLink("Edit", "Edit", new {id = Model.ID})
    @Html.ActionLink("Back to List", "Index")
}
