@model Open.Facade.Project.CheckViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = $"{Model.PaymentType}";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}

<body>
@Html.Partial("_EditCheck", Model)
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}